/*for mobile devices with max decive width of 1200*/
@media screen and (min-width: 500px) {}

/*for mobile devices with max decive width of 1200*/
@media screen and (min-width: 1200px) {
    body {}

    #title-header {
        flex-flow: column nowrap;
    }
    #title,
    #greeting,
    #sub-title,
    #description {
        padding: 0 18rem;
    }

    #nav-links {
        position: static;
        visibility: visible;
    }

    .hamburger {
        /* opacity: 0; */
    }

    .contact-container,
    .about-container,
    .work-container {
        padding: 0 50%;
    }
}