/*for mobile devices with max decive width of 500*/
@media screen and (min-width: 300px) {
    body {
        font-size: calc(1.6rem + 1.5vw);
        font-family: 'Roboto', sans-serif;
        color: rgb(55 65 81);
    }

    #nav-links {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: none;
        background-color: rgb(250 245 255);

    }

    #nav-links a {
        padding: 2rem;
        color: black;
        font-size: calc(3rem + 1vw);
    }

    #nav-links a:hover {
        color: rgb(88 28 135);
    }

    #contact-container,
    #about-container,
    #work-container,
    #tools-container {
        height: min-content;
        width: 100%;
        padding: 2rem 2rem 2rem;
        scroll-margin-top: 10vh;
    }

    #title {
        font-size: calc(4rem + 2.5vw);
    }

    #greeting,
    #sub-title,
    #description {
        font-size: calc(2.5rem + 2vw);
    }

    #description {
        margin-top: 8%;
    }

    #contact-me-form {
        align-self: flex-start;
        margin-top: 2rem;
        padding: 2rem;
    }
}

/*for mobile devices with max decive width of 1200*/
@media screen and (min-width: 1200px) {
    body {
        font-size: calc(1.6rem + .2vw);
    }

    .nav-container {
        align-items: baseline;
    }

    .hamburger {
        display: none;
    }

    #nav-links {
        height: max-content;
        width: max-content;
        position: static;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-color: rgb(113 113 122);
        padding-right: 8rem;
    }

    #nav-links a {
        font-size: calc(1rem + 1vw);
        padding: 1rem;
        color: rgb(250 245 255);
    }

    #nav-links a:hover {
        color: rgb(113 113 122);
        background-color: rgb(250 245 255);
        border-top-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0px;
    }


    #title-header {
        flex-flow: column nowrap;
    }

    #title,
    #greeting,
    #sub-title,
    #description {
        padding: 0 32rem;
    }

    #title {
        font-size: calc(4rem + .5vw);
    }

    #greeting,
    #sub-title,
    #description {
        font-size: calc(2.5rem + 1vw);
    }

    #contact-container,
    #about-container,
    #work-container,
    #tools-container {
        padding: 0 20%;
        scroll-margin-top: 12vh;
    }

    #about-container {
        flex-flow: row;
    }

    #contact-me-form {
        align-self: center;
    }
}